/* @import url('https://fonts.googleapis.com/css2?family=Mitr&family=Press+Start+2P&family=Bangers&display=swap');

$black: #545049;
$white: #f5ddb0;
$yellow: #f5c05d;
$dark-yellow: #e3ac44;

$ff-pixel: 'Press Start 2P';
$ff-sans-serif: 'Mitr';
$ff-text: 'Bangers';

$ff-main: $ff-pixel; */

@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Press+Start+2P&family=Bangers&display=swap');

html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5c05d;
	color: #545049;
	font-family: 'Mitr';
	font-size: 16px;
	line-height: 1.1;
}

.chat {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 500px;
	animation: floaty 3s infinite ease-in-out;
}

@keyframes floaty {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 15px); }
	100%   { transform: translate(0, -0px); }
}

@keyframes floaty-x2 {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 30px); }
	100%   { transform: translate(0, -0px); }
}

.chat-item:not(:first-child) {
	margin-top: 10px;
}

.log {
	max-width: 500px;
	color: #ad863d;
}

.msg {
	max-width: 500px;
	background-color: #f5ddb0;
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	transition: background-color 0.4s;
}

.msg:hover {
	background-color: #e7d0a4;
}

.dot {
	background-color: rgba(84, 80, 73, 0.3);
	height: 8px;
	width: 8px;
	border-radius: 100%;
	transition: background-color 0.4s;
}

.dot:not(:first-child) {
	margin-left: 3px;
}

.dot.active-- {
	background-color: rgba(84, 80, 73, 0.6);
}

.options {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.option {
	border-radius: 5px;
	padding: 5px 10px;
	color: #f5ddb0;
	background-color: #545049;
	cursor: pointer;
	transition: background-color 0.4s;
}

.option:not(:first-child) {
	margin-left: 10px;
}

.option:hover {
	background-color: #413d37;
}

.box {
	position: absolute;
	background-color: #545049;
	box-shadow: 0 0 1px 1px #545049;
	padding: 15px 30px;
	border-radius: 5px;
	color: #f5ddb0;
	animation: floaty-x2 4s infinite ease-in-out;
}

.heading {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.text {
	line-height: 1.8;
}

.link {
	color: #545049;
	text-decoration: none;
	background-color: #f5ddb0;
	border-radius: 5px;
	padding: 0 10px;
	transition: background-color 0.4s;
}

.link:hover {
	background-color: #e7d0a4;
}