@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
* {
  transition: all 0.8s;
}
.background {
  z-index: -1;
  position: absolute;
  opacity: 0;
  width: 1920px;
}
#middle-background {
  opacity: 1;
}
#container {
  height: 100%;
  width: 100%;
  background-color: rgba(39, 42, 69, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container .link {
  font-size: 15px;
  color: #ebecf5;
  font-family: 'Press Start 2P';
  text-decoration: none;
}
#container .link:hover {
  letter-spacing: 5px;
}
#container #top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  opacity: 0.5;
}
#container #middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}
#container #middle #name {
  font-size: 70px;
  color: #ebecf5;
  font-family: 'Press Start 2P';
}
#container #bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  opacity: 0.5;
}
