html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191a21;
  background-position: center;
  background-size: cover;
}
a {
  font-family: 'Poppins';
  color: #c7c8d1;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(25, 26, 33, 0.85);
}
#container #top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.4s;
  padding-left: 40px;
  margin-bottom: 25px;
}
#container #top #feature {
  height: 600px;
}
#container #top:hover {
  opacity: 1;
}
#container #list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#container #list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.4s;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 300px;
}
#container #list .item .title {
  font-size: 25px;
  color: #c7c8d1;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  margin-top: 0px;
  transition: margin-top 0.4s;
}
#container #list .item .desc {
  font-size: 16px;
  color: $whiteHalf;
  font-weight: 500;
  opacity: 0;
  text-decoration: none;
  color: rgba(250, 226, 184, 0.75);
  margin-top: 0px;
  position: absolute;
  transition: opacity 0.3s, margin-top 0.4s;
}
#container #list .item:hover {
  opacity: 1;
}
#container #list .item:hover .title {
  margin-top: -12px;
}
#container #list .item:hover .desc {
  opacity: 1;
  margin-top: 12px;
}
