@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f2f0da;
}
#container #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container #text #tbc {
  font-size: 150px;
  font-family: 'Quattrocento';
  color: #3c3c4d;
  position: absolute;
  transition: all 0.7s;
}
#container #text #back {
  font-size: 40px;
  font-family: 'Quattrocento';
  color: #3c3c4d;
  position: absolute;
  text-decoration: none;
  opacity: 0;
  transition: all 0.7s;
}
#container #text:hover #tbc {
  opacity: 0.1;
  font-size: 250px;
}
#container #text:hover #back {
  font-size: 80px;
  opacity: 0.5;
}
#container #text:hover #back:hover {
  opacity: 1;
}
